**

!**/
!.gitignore
!.gitattributes
!**.sln
!**.vcxproj*
!**.cpp
!**.c
!**.h
!**.hpp

!**.pdf

*.ilk
*.pdb
*.iobj
*.ipdb
*.bsc

**/Exercise**
**/tmp/**
**/.vs/**
**/Debug/**

**/AI_GamePlay_Documentation.docx